.cproject
.project
.pydevproject
cmake_install.cmake
build/
*\.pyc
src/echo_tree/QtCreatorFiles/echo_tree_push_tester/echo_tree_push_tester.pro.user
doc/html/*\.tornado*
doc/html/*\.python_qt_binding*
src/echo_tree/Resources/EmailCollectingTest/
src/echo_tree/Resources/EnronCollectionProcessed/
src/echo_tree/Resources/AmericanNationalCorpus/
srv_gen/
msg_gen/
bin/
*.so
*.pyc
slider_gui/.project
program_queue/.project
*.pt
.cmake
*.autosave
*.pro
cmake_install.cmake
.cproject
.project
.pydevproject
