.cproject
.project
.pydevproject
cmake_install.cmake
build/
*\.pyc
src/echo_tree/QtCreatorFiles/echo_tree_push_tester/echo_tree_push_tester.pro.user
doc/html/*\.tornado*
doc/html/*\.python_qt_binding*
